<div class="Main">

    <h4>Main Component</h4>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>
    <br>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>
    <p>dffffffffgggggggggggggggggggggggsdfsdfffffffffffff</p>

</div>